.list {
  display: flex;
  align-items: center;
  list-style: none;
  counter-reset: movies;
}

.list-itm {
  display: flex;
  align-items: center;
  font-size: 40px;
  counter-increment: movies;
}


.list-itm::before {
  content: counter(movies);
}